@import '../../vars.scss';
.field {
    display: flex;
        flex-direction: column;
        gap: 10px;
        
        &__label {
            display: flex;
            align-items: center;
            gap: 20px;
            color: $secondary-color;
            
        }
        &__input {
            padding: 10px;
            
        }
        &__input:focus {
            box-shadow: inset 0 0 6px 3px $secondary-color;
        }
        &__icon-success {
            fill: $accent-color;
        }
        &__icon-error {
            fill: $error-color;
        }
        &__hint {
            color: $error-color;
            font-size: 0.8rem;
        }
       
}
.icon-hidden {
    display: none;
}


.hint-hidden {
    display: none;
}