@import './assets/vars.scss';
.app {
  font-family: 'Poppins', sans-serif;
  background-color: $secondary-color;
  min-height: 100vh;
  &__title {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.5rem;
    color: $white;
  }
  &__main {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__list {
    background-color: $bg-color;
    border-radius: $radius;
  }
}
.container {
  max-width: 800px; 
  height: 100%;
  padding: 0 20px;
  margin: 0 auto;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  gap: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  background-color: transparent;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #00000000 inset;
//   -webkit-box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
}

.sign-btn {
  color: $accent-color;
}
.sign-btn:hover {
  cursor: pointer;
  text-decoration: underline;
}